<%- include('partials/head') %>
    <%- include('partials/header') %>
        <div class="grid-box">
            <div class="container">
                <div class="grid-box__inner">
                    <% if (parts.length) { %>
                        <% parts.forEach(({title, description, bgColor, btnText}) => { %>
                            <div class="grid-box__item" >
                                <h2 class="grid-box__title" style="background-color: <%= bgColor %>">
                                    <%= title %>
                                </h2>
                                <p class="grid-box__text">
                                    <%= description %>
                                </p>
                                <a class="grid-box__btn" href="<%= title %>">
                                    <%= btnText %>
                                </a>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
        <%- include('partials/ad') %>